<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    hello bhai
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
    <form action="/post-message" method="post">
        <input type="text" name="message">
        <button type="submit">Submit</button>
    </form>
        <% for (var i = 0; i <= details.length; i ++) { %>
            <p><%= details[i].name %></p>
        <% } %>
</body>
</html>