<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    hello bhai
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
    <form action="/post-message" method="post">
        <input type="text" name="message">
        <button type="submit">Submit</button>
    </form>
        <% for (var i = 0; i < details.length; i ++) { %>
            <p><%= details[i].name %>:</p>
            <p id="messages"><%= details[i].message %></p>
            <p style="display: none;" id="realMessages"><%= details[i].realMessage %></p>
        <% } %>
    <button onclick="decrypt()">decrypt</button>

    <script>
        function decrypt() {
            const pass = prompt("Enter the passcode to decrypt the messages:")
            const messages = document.getElementById("messages")
            const realMessages = document.getElementById("realMessages")
            if (pass == 1234) {
                messages.style.display = "none";
                realMessages.style.display = "block";
            } else {
                alert("Wrong password")
            }
        }
    </script>
</body>
</html>