<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/post-message" method="post">
        <input type="text" name="message">
        <button type="submit">Submit</button>
    </form>

    <form action="/uploadFile" enctype="multipart/form-data" method="POST">
        <input type="file" name="myFile" />            
        <input type="submit" value="upload file" />
    </form>
    <form action="/uploadMultiple" enctype="multipart/form-data" method="POST">
        <input type="file" name="myFiles" multiple>        
        <input type="submit" value="upload files">
    </form>            

    <form action="/uploadPhoto" enctype="multipart/form-data" method="POST">
        <input type="file" name="myImage" accept="image/*">
        <input type="submit" value="upload photo">    
    </form>

    <a href="/login">
        easter-egg
    </a>

    <div>
        <button id="clickButton1">Click Me 1</button>
        <p>Click count: <span id="clickCount1">0</span></p>

        <button id="clickButton2">Click Me 2</button>
        <p>Click count: <span id="clickCount2">0</span></p>

        <button id="clickButton3">Click Me 3</button>
        <p>Click count: <span id="clickCount3">0</span></p>
    </div>
    <script>
        var button1 = document.getElementById("clickButton1");
        var clickCountElement1 = document.getElementById("clickCount1");

        var button2 = document.getElementById("clickButton2");
        var clickCountElement2 = document.getElementById("clickCount2");

        var button3 = document.getElementById("clickButton3");
        var clickCountElement3 = document.getElementById("clickCount3");

        var clickCount1 = 0;
        var clickCount2 = 0;
        var clickCount3 = 0;

        button1.addEventListener("click", function() {
            clickCount1++;
            clickCountElement1.textContent = clickCount1;
            if(clickCount1 == 3 && clickCount2 == 4 && clickCount3==5){
            console.log("wohoo");
            let xhr = new XMLHttpRequest();
            let json = JSON.stringify({
                isActive: true // This is the boolean value you want to send
            });

            xhr.open("POST", '/submit');
            xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');

            xhr.send(json);
        }
        });

        button2.addEventListener("click", function() {
            clickCount2++;
            clickCountElement2.textContent = clickCount2;
            if(clickCount1 == 3 && clickCount2 == 4 && clickCount3==5){
            console.log("wohoo");
            let xhr = new XMLHttpRequest();
            let json = JSON.stringify({
                isActive: true // This is the boolean value you want to send
            });

            xhr.open("POST", '/submit');
            xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');

            xhr.send(json);
                
        }
        });

        button3.addEventListener("click", function() {
            clickCount3++;
            clickCountElement3.textContent = clickCount3;
            if(clickCount1 == 3 && clickCount2 == 4 && clickCount3==5){
            console.log("wohoo");
            let xhr = new XMLHttpRequest();
            let json = JSON.stringify({
                isActive: true // This is the boolean value you want to send
            });

            xhr.open("POST", '/submit');
            xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');

            xhr.send(json);
        }
        });

        if(clickCount1 == 3 && clickCount2 == 4 && clickCount3==5){
            console.log("wohoo");
            let xhr = new XMLHttpRequest();
            let json = JSON.stringify({
                isActive: true // This is the boolean value you want to send
            });

            xhr.open("POST", '/submit');
            xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');

            xhr.send(json);
        }
    </script>


        <% for (var i = 0; i < details.length; i ++) { %>
            <p><%= details[i].name %>:</p>
            <p id="messages"><%= details[i].message %></p>
            <p style="display: none;" id="realMessages"><%= details[i].realMessage %></p>
        <% } %>
    <button onclick="decrypt()">decrypt</button>

    <script>
        function decrypt() {
            const pass = prompt("Enter the passcode to decrypt the messages:")
            var messages = document.getElementsByClassName("messages")
            var realMessages = document.getElementsByClassName("realMessage")
            console.log(realMessages.length);
            console.log(messages, realMessages)
            if (pass == 1234) {
                if (realMessages) {
                    for (var i = 0; i < realMessages.length; i ++) {
                        realMessages[i].style.display = "block";
                    }
                }
                if (messages) {
                    for (var i = 0; i < messages.length; i ++) {
                        messages[i].style.display = "none";
                    }
                }
            } else {
                alert("Wrong password")
            }
        }
    </script>

</body>
</html>