<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/post-message" method="post">
        <input type="text" name="message">
        <button type="submit">Submit</button>
    </form>

    <form action="/uploadFile" enctype="multipart/form-data" method="POST">
        <input type="file" name="myFile" />            
        <input type="submit" value="upload file" />
    </form>
    <form action="/uploadMultiple" enctype="multipart/form-data" method="POST">
        <input type="file" name="myFiles" multiple>        
        <input type="submit" value="upload files">
    </form>            

    <form action="/uploadPhoto" enctype="multipart/form-data" method="POST">
        <input type="file" name="myImage" accept="image/*">
        <input type="submit" value="upload photo">    
    </form>

    <a href="/login">
        easter-egg
    </a>

    <div>
        <button id="clickButton1">Click Me 1</button>
        <p>Click count: <span id="clickCount1">0</span></p>

        <button id="clickButton2">Click Me 2</button>
        <p>Click count: <span id="clickCount2">0</span></p>

        <button id="clickButton3">Click Me 3</button>
        <p>Click count: <span id="clickCount3">0</span></p>
    </div>



        <% for (var i = 0; i < details.length; i ++) { %>
            <p><%= details[i].name %>:</p>
            <p class="messages"><%= details[i].message %></p>
            <p style="display: none;" class="realMessage"><%= details[i].realMessage %></p>
        <% } %>
    <button onclick="decrypt()">decrypt</button>

    <script>
        function decrypt() {
            const pass = prompt("Enter the passcode to decrypt the messages:")
            var messages = document.getElementsByClassName("messages")
            var realMessages = document.getElementsByClassName("realMessage")
            console.log(realMessages.length);
            console.log(messages, realMessages)
            if (pass == 1234) {
                if (realMessages) {
                    for (var i = 0; i < realMessages.length; i ++) {
                        realMessages[i].style.display = "block";
                    }
                }
                if (messages) {
                    for (var i = 0; i < messages.length; i ++) {
                        messages[i].style.display = "none";
                    }
                }
            } else {
                alert("Wrong password")
            }
        }
    </script>

</body>
</html>