<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet" href="styles.css">
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hauora:wght@700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Brandbe:wght@400&display=swap" />
</head>
<body>
  <div class="background">
    <nav class="nav">
      <div class="item1">
        <div class="line-container">
          <div class="top">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
          <div class="bottom">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        </div>
        <h1 class="menu-text">MENU</h1>
      </div>
      <div class="item2">
        <svg width="51" height="47" viewBox="0 0 51 47" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M23.2014 46.7178C22.0802 46.7178 21.109 45.9403 20.8637 44.8462L19.9719 40.8692C19.6362 39.3718 20.7751 37.9493 22.3096 37.9493H27.2458C36.3378 37.9493 40.8794 33.0978 40.8794 23.323C40.8794 13.5841 36.3378 8.76858 27.2458 8.76858H15.5941C14.062 8.76858 12.9235 10.187 13.2551 11.6829L15.3623 21.1886C15.4709 21.6785 15.4211 22.1667 15.2469 22.5996C14.1871 21.1039 12.4211 20.1246 10.4217 20.1246C7.73406 20.1246 5.46834 21.8941 4.77229 24.3086C4.64576 24.0933 4.55098 23.8543 4.49569 23.5967L0.0542398 2.89843C-0.265827 1.40685 0.871163 0 2.3967 0L27.102 0C43.2736 0 51 8.91233 51 23.323C51 37.7696 43.2736 46.7178 27.102 46.7178H23.2014Z" fill="#FF0000"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4529 34.9785C15.4809 34.9785 19.5569 30.9025 19.5569 25.8745C19.5569 20.8465 15.4809 16.7705 10.4529 16.7705C5.42491 16.7705 1.34892 20.8465 1.34892 25.8745C1.34892 30.9025 5.42491 34.9785 10.4529 34.9785ZM10.4217 31.6244C13.6634 31.6244 16.2913 29.0501 16.2913 25.8745C16.2913 22.6989 13.6634 20.1246 10.4217 20.1246C7.17994 20.1246 4.55199 22.6989 4.55199 25.8745C4.55199 29.0501 7.17994 31.6244 10.4217 31.6244Z" fill="#FF0000"/>
          </svg>          
      </div>
      <div class="item3">
        <h1 class="menu-text">HOME</h1>
        <svg width="32" style="margin-left: 2em;" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.2096 27.695V23.6061C12.2096 22.566 13.0575 21.7209 14.108 21.714H17.9561C19.0116 21.714 19.8673 22.5611 19.8673 23.6061V27.7077C19.8671 28.5908 20.579 29.3125 21.4707 29.3332H24.0361C26.5935 29.3332 28.6666 27.2807 28.6666 24.7489V13.117C28.653 12.1209 28.1806 11.1856 27.3839 10.5772L18.6103 3.58024C17.0732 2.36193 14.8883 2.36193 13.3512 3.58024L4.61601 10.5899C3.81632 11.1959 3.34316 12.1327 3.33331 13.1296V24.7489C3.33331 27.2807 5.40648 29.3332 7.96386 29.3332H10.5293C11.4431 29.3332 12.1839 28.5998 12.1839 27.695" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
      </div>
    </nav>

    <div class="main-container">
      <div class="container">
        <h1 class="h1">DADA-<span style="color: red;">CON</span></h1>
        <h2 class="h2" onclick="">SPYWARE AGENCY</h1>
        <svg width="24" height="47" viewBox="0 0 24 47" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.9393 46.0607C11.5251 46.6464 12.4749 46.6464 13.0607 46.0607L22.6066 36.5147C23.1924 35.9289 23.1924 34.9792 22.6066 34.3934C22.0208 33.8076 21.0711 33.8076 20.4853 34.3934L12 42.8787L3.51472 34.3934C2.92893 33.8076 1.97919 33.8076 1.3934 34.3934C0.807613 34.9792 0.807613 35.9289 1.3934 36.5147L10.9393 46.0607ZM10.5 6.55671e-08L10.5 45L13.5 45L13.5 -6.55671e-08L10.5 6.55671e-08Z" fill="#E51E3E"/>
        </svg>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('keydown', (e) => {
      if (e.key.toLowerCase() === '`' && e.altKey) {
          window.location.href = "/login";                ;
      }
    });
  </script>

</body>
</html>