<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assigned</title>
    <link rel="stylesheet" href="upload.css">
</head>
<body>
    <div class="background">
      <nav class="nav">
        <div class="item1">
          <div class="line-container">
            <div class="top">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="bottom">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
          </div>
          <p class="menu-text" id="menu">MENU</p>
        </div>
        <div class="menu-container" id="menu-container" style="z-index: 100;">
          <div class="line-container-idk">
            <div class="line-container">
              <div class="top">
                <div class="circle" style="background: #000;"></div>
                <div class="circle" style="background: #000;"></div>
              </div>
              <div class="bottom">
                <div class="circle" style="background: #000;"></div>
                <div class="circle" style="background: #000;"></div>
              </div>
            </div>
            <p class="menu-text" id="menu-close">CLOSE</p>
          </div>
          <div class="center">
            <a href="/index" class="amenu"><p class="heading"><span class="special-text">1.</span> CHAT</p></a> 
            <a href="/admin" class="amenu"><p class="heading"><span class="special-text">2.</span> ADD A MISSION</p></a> 
            <form action="/logout" method="post">
              <button style="background: transparent; border: none; outline: none;"><a href="" class="amenu"><p class="heading"><span class="special-text">3.</span> LOGOUT</p></a></button>
            </form>
            <a href="/dashboard" class="amenu"><p class="heading"><span class="special-text">4.</span> DASHBOARD</p></a> 
          </div>
        </div>
        <div class="item2">
          <svg width="51" height="47" viewBox="0 0 51 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.2014 46.7178C22.0802 46.7178 21.109 45.9403 20.8637 44.8462L19.9719 40.8692C19.6362 39.3718 20.7751 37.9493 22.3096 37.9493H27.2458C36.3378 37.9493 40.8794 33.0978 40.8794 23.323C40.8794 13.5841 36.3378 8.76858 27.2458 8.76858H15.5941C14.062 8.76858 12.9235 10.187 13.2551 11.6829L15.3623 21.1886C15.4709 21.6785 15.4211 22.1667 15.2469 22.5996C14.1871 21.1039 12.4211 20.1246 10.4217 20.1246C7.73406 20.1246 5.46834 21.8941 4.77229 24.3086C4.64576 24.0933 4.55098 23.8543 4.49569 23.5967L0.0542398 2.89843C-0.265827 1.40685 0.871163 0 2.3967 0L27.102 0C43.2736 0 51 8.91233 51 23.323C51 37.7696 43.2736 46.7178 27.102 46.7178H23.2014Z" fill="#FF0000"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4529 34.9785C15.4809 34.9785 19.5569 30.9025 19.5569 25.8745C19.5569 20.8465 15.4809 16.7705 10.4529 16.7705C5.42491 16.7705 1.34892 20.8465 1.34892 25.8745C1.34892 30.9025 5.42491 34.9785 10.4529 34.9785ZM10.4217 31.6244C13.6634 31.6244 16.2913 29.0501 16.2913 25.8745C16.2913 22.6989 13.6634 20.1246 10.4217 20.1246C7.17994 20.1246 4.55199 22.6989 4.55199 25.8745C4.55199 29.0501 7.17994 31.6244 10.4217 31.6244Z" fill="#FF0000"/>
            </svg>          
        </div>
        <div class="item3">
          
          <a href="/portal" style="text-decoration: none; color: white;" class="menu-text" id="home">PORTAL</a>
          <svg id="home"width="32" style="margin-left: 2em;" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.2096 27.695V23.6061C12.2096 22.566 13.0575 21.7209 14.108 21.714H17.9561C19.0116 21.714 19.8673 22.5611 19.8673 23.6061V27.7077C19.8671 28.5908 20.579 29.3125 21.4707 29.3332H24.0361C26.5935 29.3332 28.6666 27.2807 28.6666 24.7489V13.117C28.653 12.1209 28.1806 11.1856 27.3839 10.5772L18.6103 3.58024C17.0732 2.36193 14.8883 2.36193 13.3512 3.58024L4.61601 10.5899C3.81632 11.1959 3.34316 12.1327 3.33331 13.1296V24.7489C3.33331 27.2807 5.40648 29.3332 7.96386 29.3332H10.5293C11.4431 29.3332 12.1839 28.5998 12.1839 27.695" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
        </div>
      </nav>

        <div class="uploaded">
            The Mission is assigned
        </div> 

            <!-- <div class="gohome">
                    <div class="goback" id="gohome" >
                        <span style="margin-top: 8px;">
                            Go Back 
                        </span>
                            
                        <svg width="52" height="18" viewBox="0 0 52 18" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-top: 20px;">
                            <path d="M50.7778 9.77782C51.2074 9.34825 51.2074 8.65176 50.7778 8.22219L43.7775 1.22183C43.3479 0.792253 42.6514 0.792252 42.2218 1.22183C41.7922 1.65141 41.7922 2.34789 42.2218 2.77746L48.4444 9L42.2218 15.2225C41.7922 15.6521 41.7922 16.3486 42.2218 16.7782C42.6514 17.2078 43.3479 17.2078 43.7775 16.7782L50.7778 9.77782ZM-9.61651e-08 10.1L50 10.1L50 7.9L9.61651e-08 7.9L-9.61651e-08 10.1Z" fill="white"/>
                            </svg>                        
                    </div> -->
                    <div class="goback" id="gohome" style="cursor: pointer;">
                      <p class="top-div-heading-special" >Go Back</p>
                      <svg width="52" height="18" viewBox="0 0 52 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M50.7778 9.77782C51.2074 9.34825 51.2074 8.65176 50.7778 8.22219L43.7775 1.22183C43.3479 0.792253 42.6514 0.792252 42.2218 1.22183C41.7922 1.65141 41.7922 2.34789 42.2218 2.77746L48.4444 9L42.2218 15.2225C41.7922 15.6521 41.7922 16.3486 42.2218 16.7782C42.6514 17.2078 43.3479 17.2078 43.7775 16.7782L50.7778 9.77782ZM-9.61651e-08 10.1L50 10.1L50 7.9L9.61651e-08 7.9L-9.61651e-08 10.1Z" fill="white"/>
                          </svg>
                        </div>
                    <script>
                        const showAlert = document.getElementById('gohome');
                
                        showAlert.addEventListener('click', function() {
                            window.location.href = '/portal'
                        });
                        const menu = document.getElementById("menu");
                        const menuClose = document.getElementById("menu-close");
                        const menuContainer = document.getElementById("menu-container")

                        menu.addEventListener('click', function() {
                          menuContainer.classList.add("active");
                        });

                        menuClose.addEventListener('click', function() {
                          menuContainer.classList.remove("active");
                        });
                    </script>
            </div>
        </a>  
    </div>
    
</body>
</html>