<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    portal

    <script>
        // Add an event listener to the document to listen for key presses
        document.addEventListener("keydown", function(event) {
            // Check if Alt, Ctrl, Shift, and L keys are pressed simultaneously
            if (event.altKey && event.key === "q") {
                event.preventDefault();
                window.location.href = "/";
                console.log("yekyahi")
            }
            else{
                window.location.href = "/portal";
            }
        });
    </script>
</body>
</html>