<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal</title>
    <link rel="stylesheet" href="portal.css">
</head>
<body>
    <div class="background">
        <nav class="nav">
          <div class="item1">
            <div class="line-container">
              <div class="top">
                <div class="circle"></div>
                <div class="circle"></div>
              </div>
              <div class="bottom">
                <div class="circle"></div>
                <div class="circle"></div>
              </div>
            </div>
            <p class="menu-text">MENU</p>
          </div>
          <div class="item2">
            <svg width="51" height="47" viewBox="0 0 51 47" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M23.2014 46.7178C22.0802 46.7178 21.109 45.9403 20.8637 44.8462L19.9719 40.8692C19.6362 39.3718 20.7751 37.9493 22.3096 37.9493H27.2458C36.3378 37.9493 40.8794 33.0978 40.8794 23.323C40.8794 13.5841 36.3378 8.76858 27.2458 8.76858H15.5941C14.062 8.76858 12.9235 10.187 13.2551 11.6829L15.3623 21.1886C15.4709 21.6785 15.4211 22.1667 15.2469 22.5996C14.1871 21.1039 12.4211 20.1246 10.4217 20.1246C7.73406 20.1246 5.46834 21.8941 4.77229 24.3086C4.64576 24.0933 4.55098 23.8543 4.49569 23.5967L0.0542398 2.89843C-0.265827 1.40685 0.871163 0 2.3967 0L27.102 0C43.2736 0 51 8.91233 51 23.323C51 37.7696 43.2736 46.7178 27.102 46.7178H23.2014Z" fill="#FF0000"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4529 34.9785C15.4809 34.9785 19.5569 30.9025 19.5569 25.8745C19.5569 20.8465 15.4809 16.7705 10.4529 16.7705C5.42491 16.7705 1.34892 20.8465 1.34892 25.8745C1.34892 30.9025 5.42491 34.9785 10.4529 34.9785ZM10.4217 31.6244C13.6634 31.6244 16.2913 29.0501 16.2913 25.8745C16.2913 22.6989 13.6634 20.1246 10.4217 20.1246C7.17994 20.1246 4.55199 22.6989 4.55199 25.8745C4.55199 29.0501 7.17994 31.6244 10.4217 31.6244Z" fill="#FF0000"/>
              </svg>          
          </div>
          <div class="item3">
            <p class="menu-text">HOME</p>
            <svg width="32" style="margin-left: 2em;" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.2096 27.695V23.6061C12.2096 22.566 13.0575 21.7209 14.108 21.714H17.9561C19.0116 21.714 19.8673 22.5611 19.8673 23.6061V27.7077C19.8671 28.5908 20.579 29.3125 21.4707 29.3332H24.0361C26.5935 29.3332 28.6666 27.2807 28.6666 24.7489V13.117C28.653 12.1209 28.1806 11.1856 27.3839 10.5772L18.6103 3.58024C17.0732 2.36193 14.8883 2.36193 13.3512 3.58024L4.61601 10.5899C3.81632 11.1959 3.34316 12.1327 3.33331 13.1296V24.7489C3.33331 27.2807 5.40648 29.3332 7.96386 29.3332H10.5293C11.4431 29.3332 12.1839 28.5998 12.1839 27.695" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>          
          </div>
        </nav>

        <div class="main-container">
            <div class="container">
              <h1 class="h1">DADA-<span style="color: red;">CON</span></h1>
              <h2 class="h2" onclick="">SPYWARE AGENCY</h1>
              <svg style="margin-top: 1vw;" width="24" height="47" viewBox="0 0 24 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.9393 46.0607C11.5251 46.6464 12.4749 46.6464 13.0607 46.0607L22.6066 36.5147C23.1924 35.9289 23.1924 34.9792 22.6066 34.3934C22.0208 33.8076 21.0711 33.8076 20.4853 34.3934L12 42.8787L3.51472 34.3934C2.92893 33.8076 1.97919 33.8076 1.3934 34.3934C0.807613 34.9792 0.807613 35.9289 1.3934 36.5147L10.9393 46.0607ZM10.5 6.55671e-08L10.5 45L13.5 45L13.5 -6.55671e-08L10.5 6.55671e-08Z" fill="#E51E3E"/>
              </svg>
              <svg style="margin-top: 1vw;" width="225" height="50" viewBox="0 0 266 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_144_415)">
                <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(-1 0 0 1 27 4)" fill="#EA2037"/>
                </g>
                <g filter="url(#filter1_d_144_415)">
                <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(-1 0 0 1 101 4)" fill="white"/>
                </g>
                <g filter="url(#filter2_d_144_415)">
                <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(-1 0 0 1 175 4)" fill="white"/>
                </g>
                <g filter="url(#filter3_d_144_415)">
                <circle cx="4.5" cy="4.5" r="4.5" transform="matrix(-1 0 0 1 249 4)" fill="white"/>
                </g>
                <path d="M14.9011 47.48C13.2798 47.48 11.8398 47.1333 10.5811 46.44C9.33313 45.736 8.35713 44.76 7.65313 43.512C6.95979 42.2533 6.61313 40.8133 6.61313 39.192V31.768C6.61313 30.1467 6.95979 28.712 7.65313 27.464C8.35713 26.2053 9.33313 25.2293 10.5811 24.536C11.8398 23.832 13.2798 23.48 14.9011 23.48C16.5225 23.48 17.9571 23.832 19.2051 24.536C20.4638 25.2293 21.4398 26.2053 22.1331 27.464C22.8371 28.712 23.1891 30.1467 23.1891 31.768V39.192C23.1891 40.8133 22.8371 42.2533 22.1331 43.512C21.4398 44.76 20.4638 45.736 19.2051 46.44C17.9571 47.1333 16.5225 47.48 14.9011 47.48ZM14.9011 43.816C15.7011 43.816 16.4318 43.624 17.0931 43.24C17.7651 42.856 18.2931 42.3333 18.6771 41.672C19.0611 41 19.2531 40.264 19.2531 39.464V31.48C19.2531 30.68 19.0611 29.9493 18.6771 29.288C18.2931 28.616 17.7651 28.088 17.0931 27.704C16.4318 27.3093 15.7011 27.112 14.9011 27.112C14.1011 27.112 13.3651 27.3093 12.6931 27.704C12.0318 28.088 11.5091 28.616 11.1251 29.288C10.7411 29.9493 10.5491 30.68 10.5491 31.48V39.464C10.5491 40.264 10.7411 41 11.1251 41.672C11.5091 42.3333 12.0318 42.856 12.6931 43.24C13.3651 43.624 14.1011 43.816 14.9011 43.816ZM35.7716 47H31.8356V28.168L27.5156 30.808V26.552L31.8356 23.96H35.7716V47Z" fill="white"/>
                <path d="M86.3855 47.48C84.7642 47.48 83.3242 47.1333 82.0655 46.44C80.8175 45.736 79.8415 44.76 79.1375 43.512C78.4442 42.2533 78.0975 40.8133 78.0975 39.192V31.768C78.0975 30.1467 78.4442 28.712 79.1375 27.464C79.8415 26.2053 80.8175 25.2293 82.0655 24.536C83.3242 23.832 84.7642 23.48 86.3855 23.48C88.0068 23.48 89.4415 23.832 90.6895 24.536C91.9482 25.2293 92.9242 26.2053 93.6175 27.464C94.3215 28.712 94.6735 30.1467 94.6735 31.768V39.192C94.6735 40.8133 94.3215 42.2533 93.6175 43.512C92.9242 44.76 91.9482 45.736 90.6895 46.44C89.4415 47.1333 88.0068 47.48 86.3855 47.48ZM86.3855 43.816C87.1855 43.816 87.9162 43.624 88.5775 43.24C89.2495 42.856 89.7775 42.3333 90.1615 41.672C90.5455 41 90.7375 40.264 90.7375 39.464V31.48C90.7375 30.68 90.5455 29.9493 90.1615 29.288C89.7775 28.616 89.2495 28.088 88.5775 27.704C87.9162 27.3093 87.1855 27.112 86.3855 27.112C85.5855 27.112 84.8495 27.3093 84.1775 27.704C83.5162 28.088 82.9935 28.616 82.6095 29.288C82.2255 29.9493 82.0335 30.68 82.0335 31.48V39.464C82.0335 40.264 82.2255 41 82.6095 41.672C82.9935 42.3333 83.5162 42.856 84.1775 43.24C84.8495 43.624 85.5855 43.816 86.3855 43.816ZM104.648 43.336H114.536V46.968H98.68V43.608L108.536 34.824C109.261 34.1733 109.784 33.544 110.104 32.936C110.424 32.328 110.584 31.7253 110.584 31.128C110.584 30.3707 110.419 29.688 110.088 29.08C109.768 28.4613 109.309 27.9813 108.712 27.64C108.125 27.288 107.459 27.112 106.712 27.112C105.933 27.112 105.229 27.2987 104.6 27.672C103.981 28.0347 103.501 28.52 103.16 29.128C102.819 29.736 102.659 30.392 102.68 31.096H98.712C98.712 29.5813 99.0533 28.248 99.736 27.096C100.419 25.944 101.368 25.0533 102.584 24.424C103.811 23.7947 105.213 23.48 106.792 23.48C108.253 23.48 109.571 23.8107 110.744 24.472C111.928 25.1227 112.856 26.0347 113.528 27.208C114.2 28.3707 114.536 29.6933 114.536 31.176C114.536 32.232 114.392 33.1333 114.104 33.88C113.816 34.616 113.411 35.2773 112.888 35.864C112.365 36.4507 111.587 37.1973 110.552 38.104L104.648 43.336Z" fill="white"/>
                <path d="M160.62 47.48C158.999 47.48 157.559 47.1333 156.3 46.44C155.052 45.736 154.076 44.76 153.372 43.512C152.679 42.2533 152.332 40.8133 152.332 39.192V31.768C152.332 30.1467 152.679 28.712 153.372 27.464C154.076 26.2053 155.052 25.2293 156.3 24.536C157.559 23.832 158.999 23.48 160.62 23.48C162.241 23.48 163.676 23.832 164.924 24.536C166.183 25.2293 167.159 26.2053 167.852 27.464C168.556 28.712 168.908 30.1467 168.908 31.768V39.192C168.908 40.8133 168.556 42.2533 167.852 43.512C167.159 44.76 166.183 45.736 164.924 46.44C163.676 47.1333 162.241 47.48 160.62 47.48ZM160.62 43.816C161.42 43.816 162.151 43.624 162.812 43.24C163.484 42.856 164.012 42.3333 164.396 41.672C164.78 41 164.972 40.264 164.972 39.464V31.48C164.972 30.68 164.78 29.9493 164.396 29.288C164.012 28.616 163.484 28.088 162.812 27.704C162.151 27.3093 161.42 27.112 160.62 27.112C159.82 27.112 159.084 27.3093 158.412 27.704C157.751 28.088 157.228 28.616 156.844 29.288C156.46 29.9493 156.268 30.68 156.268 31.48V39.464C156.268 40.264 156.46 41 156.844 41.672C157.228 42.3333 157.751 42.856 158.412 43.24C159.084 43.624 159.82 43.816 160.62 43.816ZM182.418 32.6C183.57 32.8347 184.568 33.2987 185.41 33.992C186.253 34.6747 186.893 35.5227 187.33 36.536C187.778 37.5387 188.002 38.6267 188.002 39.8C188.002 41.2293 187.65 42.5253 186.946 43.688C186.242 44.8507 185.288 45.768 184.082 46.44C182.888 47.1013 181.576 47.432 180.146 47.432C178.994 47.432 177.901 47.208 176.866 46.76C175.842 46.3013 174.952 45.6613 174.194 44.84C173.448 44.008 172.914 43.0427 172.594 41.944L176.322 40.936C176.578 41.8213 177.053 42.52 177.746 43.032C178.44 43.5333 179.224 43.784 180.098 43.784C180.845 43.784 181.517 43.6133 182.114 43.272C182.722 42.92 183.202 42.44 183.554 41.832C183.906 41.224 184.082 40.5467 184.082 39.8C184.082 39.0533 183.912 38.376 183.57 37.768C183.24 37.1493 182.77 36.664 182.162 36.312C181.565 35.96 180.888 35.784 180.13 35.784C179.458 35.784 178.792 35.9653 178.13 36.328L176.37 33.288L183.026 27.592H173.49V23.96H187.618V27.608L182.418 32.6Z" fill="white"/>
                <path d="M234.182 47.48C232.561 47.48 231.121 47.1333 229.862 46.44C228.614 45.736 227.638 44.76 226.934 43.512C226.241 42.2533 225.894 40.8133 225.894 39.192V31.768C225.894 30.1467 226.241 28.712 226.934 27.464C227.638 26.2053 228.614 25.2293 229.862 24.536C231.121 23.832 232.561 23.48 234.182 23.48C235.804 23.48 237.238 23.832 238.486 24.536C239.745 25.2293 240.721 26.2053 241.414 27.464C242.118 28.712 242.47 30.1467 242.47 31.768V39.192C242.47 40.8133 242.118 42.2533 241.414 43.512C240.721 44.76 239.745 45.736 238.486 46.44C237.238 47.1333 235.804 47.48 234.182 47.48ZM234.182 43.816C234.982 43.816 235.713 43.624 236.374 43.24C237.046 42.856 237.574 42.3333 237.958 41.672C238.342 41 238.534 40.264 238.534 39.464V31.48C238.534 30.68 238.342 29.9493 237.958 29.288C237.574 28.616 237.046 28.088 236.374 27.704C235.713 27.3093 234.982 27.112 234.182 27.112C233.382 27.112 232.646 27.3093 231.974 27.704C231.313 28.088 230.79 28.616 230.406 29.288C230.022 29.9493 229.83 30.68 229.83 31.48V39.464C229.83 40.264 230.022 41 230.406 41.672C230.79 42.3333 231.313 42.856 231.974 43.24C232.646 43.624 233.382 43.816 234.182 43.816ZM260.589 47H256.685V43.192H246.477V39.592L253.853 23.96H258.253L250.877 39.592H256.685V33.592H260.589V39.592H262.749V43.192H260.589V47Z" fill="white"/>
                <defs>
                <filter id="filter0_d_144_415" x="14" y="0" width="25" height="25" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dx="4" dy="4"/>
                <feGaussianBlur stdDeviation="4"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_144_415"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_144_415" result="shape"/>
                </filter>
                <filter id="filter1_d_144_415" x="88" y="0" width="25" height="25" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dx="4" dy="4"/>
                <feGaussianBlur stdDeviation="4"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_144_415"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_144_415" result="shape"/>
                </filter>
                <filter id="filter2_d_144_415" x="162" y="0" width="25" height="25" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dx="4" dy="4"/>
                <feGaussianBlur stdDeviation="4"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_144_415"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_144_415" result="shape"/>
                </filter>
                <filter id="filter3_d_144_415" x="236" y="0" width="25" height="25" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dx="4" dy="4"/>
                <feGaussianBlur stdDeviation="4"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_144_415"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_144_415" result="shape"/>
                </filter>
                </defs>
                </svg>
            </div>
        </div>

</body>
</html>