body{
    width:100%;
    height: 100vh;
    background: url("https://cdn.discordapp.com/attachments/1080157954570993664/1145736114439721112/image.png");
    /* mix-blend-mode: multiply; */
    background-size: cover;
    z-index: 2;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    /* background: #131314; */
    /* opacity: 0.6; */
    color: #fff;
}

@font-face {
    font-family: 'hauoraregular';
    src: url('hauora_sans/fonts/otf/Hauora-Regular.otf') format('opentype');
         font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandberegular';
    src: url('brandbe/brandbe/Brandbe Regular.otf');
    font-weight: normal;
    font-style: normal;
}

.background {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100vh !important;
    /* background-color: #1B1B1B; */
    /* z-index: -10; */
    /* margin-top: -vh; */
    position: absolute;
    top: 0;
}

.line-container-idk {
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    height: fit-content !important;
}

.center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    cursor: pointer;
    font-family: 'brandberegular', sans-serif;
    font-size: 5vw;
    margin: 0;
    margin-bottom: 2vw;
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}

.heading::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px; /* Adjust the thickness of the underline */
    background-color: red; /* Adjust the underline color */
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.heading:hover::before {
    width: 100%;
}

.menu-container {
    display: none;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    color: #000;
}

.special-text {
    color: red;
}

.active {
    display: flex !important;
    animation: slide 2s linear 0 1 0;
}
.amenu{
    color: #000;
    text-decoration: none;
}
a:hover{
    color:#000; 
    text-decoration:none; 
    cursor:pointer; 
}
.ahome{
    text-decoration: none;
}
.ahome:hover{
    text-decoration: none;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.uploaded {
    font-family: 'brandberegular', sans-serif;
    font-size: 5.303vw;
    margin: 0;
    margin-top: 7vh;
    height: f;
    align-self: center;
}

.item2 {
    align-self: center;
    justify-self: center;
}

.item3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3em 7em;
    padding-left: 0 !important;
}


.menu-text {
    font-family: 'hauoraregular', sans-serif ;
    font-size: 1.616vw;
}

.line-container {
    padding: 0 2em;
}

.item1 {
    display: flex;
    align-items: center;
    margin-left: 5em;
}

.circle {
    background-color: #fff;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    /* padding: 0.25em; */
    margin: 0.25em;
}

.top, .bottom {
    display: flex;
    flex-direction: row;
    /* margin: 0.25em;   */
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
}

.agent-name{
    width: 450px;
    height: 320px;
    flex-shrink: 0;
    margin-left: 190px;
    border-radius: 20px;
    background: rgba(119, 119, 119, 0.11);
    backdrop-filter: blur(15px);
}

.agent-image{
    margin-top: 64px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-self: center;
    justify-content: left;
}

.agent-text{
    color: #FFF;
    font-family: 'brandberegular', sans-serif;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    align-self: center;
    
}

.other-agents{
    width: 450px;
    height: 110px;
    flex-shrink: 0;
    margin-left: 190px;
    margin-top: 20px;
    border-radius: 20px;
    background: rgba(119, 119, 119, 0.11);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: row;
}

.other-image{
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 80px;
    /* background: url('https://cdn.discordapp.com/attachments/1080157954570993664/1145769579008774284/image.png'), lightgray 50% / cover no-repeat; */
}

.other-name{
    display: flex;
    flex-direction: column;
}

.other-role{
    color: #E82D2D;
    font-family: 'hauoraregular', sans-serif ;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.messageGrp {
    /* border: 1px solid black; */
    padding: 5px 0px 5px 5px ;
    height: 700px;
    overflow: auto;
    /* margin-left: 700px; */
    /* margin-right: 40px; */
    backdrop-filter: blur(15px);
    color: #343434;
    width: 75%;
    height: 75vh;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    float: right;
    gap: 5px;
}
.message1 {
    max-height: 400px;
    max-width: 350px;
    font-family: 'hauoraregular', sans-serif ;
    padding : 8px;
    /* border: 2px solid #ccc; */
    border-radius : 0px 30px 30px 30px;
    color: white;
    backdrop-filter: blur(15px);
    background-color: #343434;
    margin-left: 80px;
    
}

.message2 {
    max-height: 400px;
    max-width: 350px;
    font-family: 'hauoraregular', sans-serif ;
    padding : 8px;
    /* border: 2px solid #ccc; */
    border-radius : 0px 30px 30px 30px;
    color: white;
    backdrop-filter: blur(15px);
    background-color: #E82D2D;
    margin-left: 80px;
    
}
.chatGrp{
    display: flex;
    flex-direction: row;
    height: 75vh;
}
.form{
    display: flex;
    flex-direction: column;
    font-family: 'hauoraregular', sans-serif ;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    color: #FFF;
}
.input-mess{
    border-radius: 20px;
    height: 30px;
    width: 335px;
    background: #1B1B1B;
    padding: 8px;
    margin-left: 20px;
    /* align-self: center; */
    font-family: 'hauoraregular', sans-serif ;
    color: #ccc;
}

::-webkit-scrollbar {
width: 2px;
}

::-webkit-scrollbar-thumb {
background: #131314;
}
.submit{
    margin: 4px 2px;
    border-radius: 20px;
    background-color: #E82D2D;
    padding: 10px 20px;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;    
    font-family: 'hauoraregular', sans-serif ;
}
.inputsubmit{
    justify-content: center;
    align-items: center;
}

input[type="file"] {
    display: none;
}
.file {
    border-radius: 20px;
    margin-top: 20px;
    padding: 6px 12px;
    display: inline-block;
    cursor: pointer;
    background-color: #E82D2D;
    color: white;
    cursor: pointer;    
    font-family: 'hauoraregular', sans-serif ;
}
.password{
    margin-top: 20px;
}   
#password{
    border-radius: 20px;
    height: 30px;
    width: 200px;
    background: #1B1B1B;
    padding: 8px;
    margin-left: 3px;
    /* align-self: center; */
    font-family: 'hauoraregular', sans-serif ;
    color: #ccc;
}
.uplButton{
    margin: 4px 2px;
    border-radius: 20px;
    background-color: #E82D2D;
    padding: 10px 20px;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;    
    font-family: 'hauoraregular', sans-serif ;
    margin-top: 20px;
    /* margin-left: 164px; */
}

.upload{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 20px;
    margin-top: 20px;
}