@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
body{
    width:100%;
    height: 100vh;
    background: url("https://cdn.discordapp.com/attachments/1080157954570993664/1145400179839737897/image.png");
    /* mix-blend-mode: multiply; */
    background-size: cover;
    z-index: 2;
    margin: 0;
    padding: 0;
    /* background: #131314; */
    /* opacity: 0.6; */
    color: #fff;
}

@font-face {
    font-family: 'hauoraregular';
    src: url('../hauora_sans/fonts/web/Hauora-Regular.woff2') format('woff2'),
         url('../hauora_sans/fonts/web/Hauora-Regular.woff') format('woff'),;
         font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandberegular';
    src: url('../brandbe/brandbe/Brandbe Regular.otf');
    font-weight: normal;
    font-style: normal;
}

.background {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgba(19, 19, 20, 0.96);
    /* z-index: -10; */
    /* margin-top: -vh; */
    position: absolute;
    top: 0;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item2 {
    align-self: center;
    justify-self: center;
}

.item3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3em 7em;
    padding-left: 0 !important;
}


.menu-text {
    font-size: 1.616vw;
}

.line-container {
    padding: 0 2em;
}

.item1 {
    display: flex;
    align-items: center;
    margin-left: 5em;
}

.circle {
    background-color: #fff;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    /* padding: 0.25em; */
    margin: 0.25em;
}

.top, .bottom {
    display: flex;
    flex-direction: row;
    /* margin: 0.25em;   */
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
}

.title {
    font-family: 'Teko';
    font-size: 5.303vw;
    margin: 0;
    margin-top: 7vh;
    height: fit-content;
}

.container {
    flex-direction: column;
}

.card-container {
    display: flex;
    margin: 5vw;
    /* width: 100%; */
    gap: 50px;
}

.card {
    width: 467px;
    height: 147px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(72, 61, 61, 0.11);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.card img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}

.name {
    color: rgba(255, 255, 255, 0.85);
    font-family: Hauora;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.status {
    color: rgba(255, 255, 255, 0.85);
    font-family: Hauora;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
}

.creds {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
.names {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.assign {
    color: #F00;
    text-align: right;
    font-family: Hauora;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}