body{
    width:100%;
    height: 100vh;
    background: url("https://cdn.discordapp.com/attachments/1080157954570993664/1145736114439721112/image.png");
    /* mix-blend-mode: multiply; */
    background-size: cover;
    z-index: 2;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    /* background: #131314; */
    /* opacity: 0.6; */
    color: #fff;
}

@font-face {
    font-family: 'hauoraregular';
    src: url('hauora_sans/fonts/otf/Hauora-Regular.otf') format('opentype');
         font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandberegular';
    src: url('brandbe/brandbe/Brandbe Regular.otf');
    font-weight: normal;
    font-style: normal;
}

.background {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgba(19, 19, 20, 0.94);
    /* z-index: -10; */
    /* margin-top: -vh; */
    position: absolute;
    top: 0;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item2 {
    align-self: center;
    justify-self: center;
}

.item3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3em 7em;
    padding-left: 0 !important;
}


.line-container {
    padding: 0 2em;
}

.item1 {
    display: flex;
    align-items: center;
    margin-left: 5em;
}

.circle {
    background-color: #fff;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    /* padding: 0.25em; */
    margin: 0.25em;
}

.top, .bottom {
    display: flex;
    flex-direction: row;
    /* margin: 0.25em;   */
}

.menu-text {
    font-family: 'hauoraregular', sans-serif;
    /* font-family: Hauora; */
    font-size: 1.616vw;
}

.container {
    /* position: absolute;
    top: 0; */
    width: 100%;
    height: 81.9vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    height: auto;
}

.h1 {
    font-family: 'brandberegular', sans-serif;
    font-size: 14vw;
    margin-bottom: 2vw !important;
    margin: 0;
    height: 14vw;
    font-weight: 200;
}

.h1 span {
    height: fit-content;
    display: inline-block;
}

.h2 {
    font-weight: 200;
    padding: 0;
    font-family: 'brandberegular', sans-serif;
    font-size: 4vw;
    margin: 0;
    color: #8E8E8E;
    letter-spacing: 19.799px;
    margin-bottom: 1vw;
}

@font-face {
    font-family: 'hauoraregular';
    src: url('hauora_sans/fonts/otf/Hauora-Regular.otf') format('opentype');
         font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandberegular';
    src: url('brandbe/brandbe/Brandbe Regular.otf');
    font-weight: normal;
    font-style: normal;
}
.menu-text {
    font-family: 'hauoraregular', sans-serif;
    /* font-family: Hauora; */
}

.h1 {
    font-family: 'brandberegular', sans-serif;
    font-size: 14vw;
    margin-bottom: 2vw !important;
    margin: 0;
    height: 14vw;
    font-weight: 200;
}

.h1 span {
    height: fit-content;
    display: inline-block;
}

.h2 {
    font-weight: 200;
    padding: 0;
    font-family: 'brandberegular', sans-serif;
    font-size: 4vw;
    margin: 0;
    color: #8E8E8E;
    letter-spacing: 1px;
    margin-bottom: 1vw;
}

